In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
# check for missing values
iris.isnull().sum()

# get initial statistics
iris.describe()

# variable descriptions
"""
The variables in the dataset are:
- Id: A unique identifier for each record
- SepalLengthCm: Sepal length in centimeters
- SepalWidthCm: Sepal width in centimeters
- PetalLengthCm: Petal length in centimeters
- PetalWidthCm: Petal width in centimeters
- Species: The species of Iris flower (Setosa, Versicolour, and Virginica)
"""

# variable types
iris.dtypes

# dimensions of the dataframe
iris.shape

(150, 5)

In [ ]:


# Step 5: Data Formatting and Data Normalization
# Check the data types of variables
iris.dtypes

# No type conversions required in this case.

# Step 6: Turn categorical variables into quantitative variables in Python
# Create dummy variables for the 'Species' column
iris = pd.concat([iris, pd.get_dummies(iris['species'], prefix='species')], axis=1)